/* Deze regels stijlen de <h1>code. Ze geven het een specifiek lettertype, grootte en centreren de tekst. */
h1 {
  font-family: verdana;
  font-size: 300%;
  text-align: center;
}

/* deze regels gaan over h2 en doen hetzelfde als h1 */
h2 {
  font-family: verdana;
  font-size: 150%;
}

/* Deze regels stijlen de <p>code. Ze geven de tekst een zwarte kleur en centreren deze. */
p {
  color: rgb(0, 0, 0);
  text-align: left;
}

/* Deze regels stijlen de achtergrondkleur van de hele pagina naar poederblauw en verwijderen de standaard marges. */
body {
  background-color: powderblue;
  margin: 0; 
}

/* Deze regels stijlen de footer onderaan de pagina zoals kleur grootte en de plaats van de tekst */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
  text-align: center;
  padding: 3px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center; 
  background-color: #333333;
  padding: 10px 0; 
  position: center; 
  width: 20%; 
  top: 0; 
  z-index: 1000; 
}

.navbar a {
  font-size: 20px;
  color: rgb(255, 255, 255); 
  text-align: center;
  padding: 15px 30px; 
  text-decoration: none;
  transition: background-color 0.3s; 
  margin: 0 10px; 
  white-space: nowrap;
}


.subnav {
  display: inline-block; 
  margin: 0 10px; 
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: rgb(76, 0, 255);
  width: 15%; 
  z-index: 1;
}

.subnav:hover .subnav-content {
  display: block;
}

.subnav-container {
  display: flex; 
  justify-content: center; 
  margin-top: center; 
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(140, 255, 0);
}

.subnav-content a {
  display: block; 
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px; 
  text-align: center; 
  min-width: 50%; 
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

a.active {
  font-weight: bold;
  color: red;
}

/* dit past de grootte van de video aan */
.video-size {
  width: 80%; 
  margin: 0 auto;
  display: block;
}

/*dit past de stijl van de restart knop aan */
#restart-button {
  display: none; 
}
