/* styles.css */

/* Deze regels stijlen de <h1>code. Ze geven het een specifiek lettertype, grootte en centreren de tekst. */
h1 {
  font-family: verdana;
  font-size: 300%;
  text-align: center;
}
/* deze regels gaan over h2 en doen hetzelfde als h1 */
h2{
  font-family: verdana;
  font-size: 150%;
}

/* Deze regels stijlen de <p>code. Ze geven de tekst een zwarte kleur en centreren deze. */
p {
  color: rgb(0, 0, 0);
  text-align: left;
}

/* Deze regels stijlen de achtergrondkleur van de hele pagina naar poederblauw en verwijderen de standaard marges. */
body {
  background-color: powderblue;
  margin: 0; 
}


/* Deze regels stijlen de footer onderaan de pagina zoals kleur grootte en de plaats van de tekst */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
  text-align: center;
  padding: 3px;
  color: white;
}

body {
  margin: 0; /* Verwijder standaard margin van de body */
}

.navbar {
  display: flex;
  justify-content: center; /* Center de nav items */
  background-color: #333333;
  padding: 10px 0; /* Voeg verticale ruimte toe */
  position: fixed; /* Maak de navbar vast bovenaan */
  width: 100%; /* Zorg dat de navbar de volledige breedte heeft */
  top: 0; /* Positioneer de navbar aan de bovenkant */
  z-index: 1000; /* Zorg ervoor dat de navbar boven andere elementen staat */
}

.navbar a, .subnav .subnavbtn {
  flex: 1; /* Maak alle knoppen gelijk in breedte */
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 0; /* Aangepaste padding voor uniformiteit */
  text-decoration: none;
  transition: background-color 0.3s; /* Smooth transition on hover */
  min-width: 150px; /* Minimale breedte voor alle knoppen */
}

.subnav {
  position: relative; /* Positioneer subnav relatief */
}

.subnav-content {
  display: none;
  position: absolute;
  top: 0; /* Align de dropdown aan de linkerkant */
  background-color: rgb(76, 0, 255);
  width: 100%; /* Volledige breedte van de subnav */
  z-index: 1;
}

.subnav:hover .subnav-content {
  display: block;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(140, 255, 0);
}

.subnav-content a {
  display: block; /* Maak links verticaal gestapeld */
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px; /* Voeg padding toe aan subnav links */
  text-align: center; /* Center tekst voor subnav links */
  min-width: 150px; /* Minimale breedte voor subnav links */
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

a.active {
  font-weight: bold;
  color: red;
}


/* dit past de grootte van de video aan */
.video-size {
  width: 80%; 
  margin: 0 auto;
  display: block;
}

/*dit past de stijl van de restart knop aan */
#restart-button {
  display: none; 
}
