/* Stijlen voor de subnav (de dropdown menu's) */
h1{
    text-align: center;
    }
    .subnav {
      display: inline-block;
      margin: 0 10px;
    }
    
    .subnavbtn {
      background-color: #333333;
      color: white;
      padding: 15px 30px;
      font-size: 20px;
      border: none;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      display: block;
      width: 100%;
      transition: background-color 0.3s;
    }
    
    /* Wanneer je over de knop beweegt */
    .subnavbtn:hover {
      background-color: rgb(140, 255, 0);
    }
    
    /* Het dropdownmenu */
    .subnav-content {
      display: none;
      position: absolute;
      background-color: rgb(76, 0, 255);
      width: 200px; /* Pas de breedte aan naar wens */
      z-index: 1;
    }
    
    /* Weergave van het dropdownmenu bij hover */
    .subnav:hover .subnav-content {
      display: block;
    }
    
    .subnav-content a {
      display: block;
      color: white;
      padding: 10px;
      text-decoration: none;
      text-align: center;
    }
    
    .subnav-content a:hover {
      background-color: #eee;
      color: black;
    }
    
    /* Stijlen voor de algemene navbar */
    .navbar {
      display: flex;
      justify-content: center; 
      background-color: #ffffff;
      padding: 10px 0;
      width: 100%;
      position: relative;
      z-index: 1000;
    }
    
    /* Stijlen voor de footer */
    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: red;
      text-align: center;
      padding: 3px;
      color: white;
    }
    
    /* Stijlen voor de knoppen op de homepage */
    .button-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    
    .button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      margin: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }
    
    .button:hover {
      background-color: #45a049;
    }
    .center{ 
       display: block;
      margin-left: 0%;
      margin-right: 100%;
      width: 50%;
    }